#menu-item-page-div{
    width: 100%;
    min-height: 75dvh;
    /* background-image: url(https://cdn.pixabay.com/photo/2016/03/15/02/42/floor-1256804_1280.jpg);
    background-size: contain;
    background-position: center; */
    background-color: #FFD700;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2rem;
}



#menu-item-page-image-div{
    width: 30rem;
    height: 30rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
#menu-item-page-image{
    width: 70%;
    height: 70%;
    border-radius: 18px;
    border: 5px solid black;
}

#menu-item-page-info-div{
    width: 45%;
    height: 75dvh;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    gap: 2rem;
}
.menu-item-page-info-h2{
    font-size: 1.5rem;
}
.menu-item-page-info-span{
    font-weight: 300;
}
#menu-item-page-description-div{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    gap: 2rem;
}
.menu-item-page-button{
    width: 7rem;
    background-color: black;
    color: #FFD700;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    padding: 5px;
}
#menu-item-page-button-div{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}
.menu-item-page-button:hover{
    background-color: #fff;
    color: black;
    cursor: pointer;
}
#menu-item-page-amount-btns{
    width: 9rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
@media (max-width: 769px) {
    #menu-item-page-info-div{
        width: 100%;
        justify-content: flex-start;
        padding: 1rem;
    }
  }