#about-us-div{
    width: 100%;
    min-height: 85dvh;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    padding: 2rem;
    flex-wrap: wrap;
    background-color: #FFD700;
    gap: 3rem;
}

#about-us-h1{
    font-size: 2rem;
    width: 45rem;
    letter-spacing: 1px;
    font-weight: 300;
}

#about-us-img{
    width: 30rem;
    min-width: 350px;
    height: 50dvh;
    border-radius: 5px;
    border: 3px solid black;
}
#about-us-span{
    font-family: 'Aoboshi One', serif;
}