#contact-form{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    width: 20rem;
}
.contact-form-label{
    font-weight: bold;
}
#contact-form-span{
    font-weight:300
}
#contact-from-comment{
    min-height: 6rem;
    width: 100%;
    resize: none;
    padding: 0.5rem;
    text-align: start;
    vertical-align: top;
}
#contact-from-h1{
    font-size: 2rem;
}
#contact-form-submit{
    width: 6rem;
    background-color: black;
    color: #FFD700;
    border: none;
    border-radius: 5px;
    font-size: 1.4rem;
    padding: 5px;
}
#contact-form-submit:hover{
    background-color: #fff;
    color: black;
    cursor: pointer;
}
@media (max-width: 768px) {
    #contact-form-div{
        margin-top: 3rem;
    }
  }