#single-cart-product{
    list-style: none;
    display: flex;
    text-align: center;
    justify-content: space-between;
    min-width: 350px;
    width: 50dvw;
    min-height: 5rem;
    height: 15dvh;
    margin-top: 0.5rem;
    flex-wrap: wrap;
    gap: 1rem;
}