

#burger-template-div{
    display: none;
    height: 85dvh;
    background-color: black;
    transition: 0.4s ease;
    position: absolute;
    right: 0;
    top: 15dvh;
    overflow: hidden;
}
#burger-nav-ul{
    display: flex;
    list-style: none;
    flex-direction: column;
    align-items: flex-end;
    gap: 1rem;
}
.burger-nav-list-item{
    font-size: 2rem;
    margin-top: 3rem;
    margin-right: 3rem;
    color: #FFD700;
}
.burger-nav-list-item:hover{
    color: #fff;
    border-bottom: 3px solid #fff;
}
#burger-navigation{
    width: 100%;
    height: 100%;
    display: flex;
}



@media (max-width: 1000px) {
    #burger-template-div{
        display: flex;
        flex-direction: column;
    }
  }